<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303421203454-o2k8a7bl589d15int425k1gmu1mcu6va.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303421203454-o2k8a7bl589d15int425k1gmu1mcu6va</string>
	<key>API_KEY</key>
	<string>AIzaSyAtPrcYwOVY54cUpH3k2uIAU7kSAJT9kkA</string>
	<key>GCM_SENDER_ID</key>
	<string>303421203454</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.QuangBao.ChatApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8c2c8</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8c2c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303421203454:ios:99df861bb0fa396cd9d6af</string>
</dict>
</plist>